/**
 * Name: Laura Ruis
 * Student number: 10158006
 * Assignment: VAST Challenge 2017
 */

/* style all text elements on page */
text {
    fill: #656677;
}

/* style table */
#table {
    float: left;
    width: 100%;
    color: #656677;
}

td {
    width: 10%;
}

/* style slider */
#ex1Slider .slider-selection {
    background: #BABABA;
}

/* style focus area */
.focusLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
}

.area {
    fill: lightsteelblue;
}

/* style force directed graph */
.nodes {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1px;
}

.links {
    stroke: #777;
    stroke-width: 2px;
}

/* style line chart */
.axis text {
    font: 10px sans-serif;
}
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    /*stroke: steelblue;*/
    stroke-width: 2px;
}

/* style parallel coordinates */
.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    cursor: move;
}