
/* style all text elements on page */
text {
    fill: #656677;
}

/* style title */
.page-header {
    float: top;
    color: #656677;
}

/* style axis */
.axis text {
    font: 10px sans-serif;
}
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    /*stroke: steelblue;*/
    stroke-width: 2px;
}
